OWNER_NOTIFICATION_EMAIL=TBD_BY_OWNER
CRM_WEBHOOK_URL=TBD_BY_OWNER
CRM_WEBHOOK_SECRET=TBD_BY_OWNER
META_PIXEL_ID=TBD_BY_OWNER
META_ACCESS_TOKEN=TBD_BY_OWNER
META_TEST_EVENT_CODE=TBD_BY_OWNER
GA4_MEASUREMENT_ID=TBD_BY_OWNER
GOOGLE_ADS_CONVERSION_ID=TBD_BY_OWNER
GOOGLE_ADS_LEAD_CONVERSION_LABEL=TBD_BY_OWNER
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=
THUMBTACK_WEBHOOK_TOKEN=TBD_BY_OWNER
THUMBTACK_WEBHOOK_SECRET=TBD_BY_OWNER
SLACK_WEBHOOK_URL=TBD_BY_OWNER
TWILIO_ACCOUNT_SID=TBD_BY_OWNER
TWILIO_AUTH_TOKEN=TBD_BY_OWNER
TWILIO_FROM=TBD_BY_OWNER
OWNER_SMS_TO=TBD_BY_OWNER
SHEETS_WEBHOOK_URL=TBD_BY_OWNER
SHEETS_WEBHOOK_SECRET=TBD_BY_OWNER
THUMBTACK_CRM_WEBHOOK_URL=TBD_BY_OWNER
THUMBTACK_CRM_WEBHOOK_SECRET=TBD_BY_OWNER
